body{
    background-color: rgb(68, 69, 69);
    margin: 0px;
    padding: 0px;
}
.game-container{
    width: 352px;
    height: 198px;
    margin: auto;
    margin-top: 208px;
    outline: 1px solid white;
    transform: scale(3);
}
.game-container canvas{
    background-color: rgb(47, 47, 47);
    width: inherit;
    height: inherit;
    image-rendering: pixelated;
}