body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    margin-top: 208px;
    outline: 1px solid #333;
    transform: scale(3);
}
.game-screen {
    width: 352px;
    height: 198px;
    position: relative;
    background: gray;
}


